#go-back {
    word-wrap: break-word;
}

#card {
    height: 80vh;
    margin-top: 5%;
}

#img-details {
    height: 37%;
}

@media  (max-width: 576px) {
    #img-details {
        height: 40%;
    }
    #card {
        margin-top: 10%;
    }

}