.rt-td {
    text-align: center;
}

.ReactTable {
    margin: 0 auto;
    margin-top: 20px;
}

.animation {
    position: absolute;
    right: 0;
    width: 100px;
    margin-right: -100px;
    border: 1px solid red;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 1;
}
